*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.inspector {
  margin-left: 400px;
}

.inspector pre {
  font-family: Menlo;
  font-size: 13px;
}
