.tree {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #21252B;
}

.m-node.placeholder {
  border: 1px dashed #1385e5;
}

.m-node .inner {
  color: #9DA5B4;
  font-size: 12px;
  font-family: Menlo;
}

.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
}

.m-node .node.is-active {
  background-color: #31363F;
}
